@font-face {
font-family: 'PT Sans';
src: local('PT Sans'), local('PTSans-Regular'),
url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff2') format('woff2'),
url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Prata';
src: local('Prata Regular'), local('Prata-Regular'),
url('../fonts/prata-v8-cyrillic_latin-regular.woff2') format('woff2'),
url('../fonts/prata-v8-cyrillic_latin-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'PT Sans';
src: local('PT Sans Bold'), local('PTSans-Bold'),
url('../fonts/pt-sans-v9-latin_cyrillic-700.woff2') format('woff2'),
url('../fonts/pt-sans-v9-latin_cyrillic-700.woff') format('woff');
font-weight: bold;
font-style: normal;
}

body {
    display: flex;
    justify-content: center;
}



h1 {
    font-size: 32px;
    font-family: 'Prata', serif;
}
h2 {
    font-size: 50px;
    font-weight: normal;
    font-family: 'Prata', serif;
    color: #000;
}
a {
    text-decoration: none;
    font-family: 'Prata', serif;
}

p {
    font-family: 'Pt Sans', sans-serif;
}


.promo { display: none; }
 /* по умолчанию */
@media /*screen and*/ (max-width: 481px) { 

    h1 {
    font-size: 32px;
    font-family: 'Prata', serif;
}
    h2 {
        font-size: 32px;
        font-family: 'Prata', serif;
        color: #021a23;;
}

    a {
        text-decoration: none;
        font-family: 'Prata', serif;
}

    p {
        font-family: 'Pt Sans', sans-serif;
}

    
}




    .wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


    nav {
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
}
    


    nav a {
        color: #202020;
        margin-right: 15px;
}

.diez {

    margin-top: -59.4px;
    padding-top: 88px;
    margin-bottom: 88px;

    width: 100%;
    height: 770px;
    background-image: url(../images/bg_main.png);
    background-size: cover;

    padding: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    color: #fff;
}

header {

}

header footer {
    text-align: justify;
    letter-spacing: 1px;
}

.container-header {
    justify-content: space-between;
    max-height: 60px;
    padding-left: 20px;
}


ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul {
    margin: 0;
}

@media (max-width: 481px) {

.diez {
    height: 535px;
    background-image: url(../images/bg_main.png);
    background-size: 480px 535px;

    padding: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    margin-bottom: 20px;
    position: relative;

    z-index: 0;

}
    
    .wrapper{
    margin: 0 auto;
    position: relative;
}
     
    
    

}






.name {
    font-size: 30px;
    color: #eec643;
    display: flex;
    z-index: 100;
}

.box {
    display: flex;
}



.container {
    box-sizing: border-box;
    display: flex;
    max-width: 1170px;
    min-width: 320px;
    margin: auto;
}

.page-header {
        position: static;
        display: flex;
}

    @media (max-width: 481px) {

    .container {
        display: flex;
        margin: auto;
        padding: 0 15px; 
}

    .main-box {
        width: 100%;
        margin-top: 145px;
    }

    .page-header {
        background-color: #777;
    top: 0;
    right: 0;
    left: 0;
    height: 3em;
    display: block;
}

}


.toggler {display: none; }
  
  @media (max-width: 481px) {

    .toggler {
        padding-top: 5%;
        padding-right: 5%;
            display: flex;
        position: absolute;
        z-index: 150;
        top: 0;
        right: 0;
        align-items: center;
        width: 3em;
        height: 3em;
        line-height: 3em;
        user-select: none; }
  }
  
  .toggler-span {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: .3rem;
    background: #fff;
    border-radius: .2rem;
    position: relative;
    transition: background .3s .5s;}
    
    .toggler-span::before {
      width: 100%;
      height: .3rem;
      background: #fff;
      border-radius: .2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }
    
    .toggler-span::after {
      width: 100%;
      height: .3rem;
      background: #fff;
      border-radius: .2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }
    
    .toggler-span::before {
      top: 1rem;
    }
    
    .toggler-span::after {
      top: -1rem;
    }
  
  
  .toggler--close span{
    
      transition: background .3s 0;
      background: transparent; }
      
      .toggler--close span::before {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }
      .toggler--close span::after {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }
      
      .toggler--close span::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      
      .toggler--close span::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
  
  


@media (max-width: 481px) {
    .nav {
      background-color: #000;
    list-style: none;
    padding: 0;
    padding-top: 80px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    }

  .nav--visible {
    display: block;
    z-index: 10;
  }

  .nav__item {
    display: block;}

    .nav__item a {
    padding: 0 1em;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1px;
}

}
  

.lesson {display: none;}

fieldset {
    position: relative;
    border: none;
    height: 100%;

    padding-left: 30px;
    padding-right: 20px;
}

input {
    background-color: transparent;
    border: none;
    margin-bottom: 22px;
    border-bottom: 1.2px solid #000;
    width: 100%;
}

select {
    background-color: transparent;
    border: none;
    margin-bottom: 22px;
    border-bottom: 1.2px solid #000;
}


button {
    position: absolute;
    bottom: 0;
    margin-bottom: 14px;
    margin-left: -33px;
}

button[class=button-main] {
        background-color: #021a23;
        color: #fff;
        border: 2px solid #021a23;
        padding: 30px 75px;
        width: 102%;
    }


    button[class=button-other] {
        background-color: #eec643;
        color: #fff;
        border: 2px solid #eec643;
        padding: 30px;
        width: 102%;
    }




[class^="form"] { 
    color: #000;
    border: 2px solid #eec643;
}



.form-main {
    color: #000;
    border: 2px solid #021a23;
    background-color: rgb(255, 255, 255, 0.8);

    max-width: 265px;
    height: 420px;

}


.form-second {
    margin-left: 2.5%;
    width: 45%;
}

.form-third{
    width: 100%;
    height: 570px;
    margin-top: 50px;
}

.form-modal {
    display: none;
}

@media (max-width: 481px) {

    .container-main{
        justify-content: space-between;
        margin: 0;
    }


    .form-main {display: none;}
    .form-second {display: none;}
    .form-third {display: none;}

.form-modal {
        position: fixed;
        z-index: 2000;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -90px;
            }
.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(140, 140, 140, .9);
}
.form-modal-show{

        display: block;
}

    .lesson {
        display: block;
        background-color: #eec643;
        color: #fff;
        text-align: center;
        box-sizing: border-box;

    }


    .lesson-main {
        width: 100%;
        bottom: 0;
        padding: 30px;
    }

    .lesson-other {
        width: 25%;
        height: 145px;
        margin: 5px 0 2.5% 2.5%;
    }


}



.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff; 
}

@media (max-width: 481px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}


#directions::before  { 
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    margin-top: -60px;
}#about::before  { 
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    margin-top: -60px;
}

.directions-h {
    margin: 5px 2.5% 5px 45px;
    text-align: center;

    position: relative;
    transform: rotate(180deg);
    display: block;
    width: 3.5%;
    writing-mode: vertical-lr;
}

.directions-h:before {
content: '';
display: block;
position: absolute;
background: #eec643;
width: 2px;
height: 100%;
top: 0;
right: 120%;
}

.directions-h:after {
content: '';
display: block;
position: absolute;
background: #eec643;
width: 2px;
height: 100%;
bottom: 0;
left: 65px;
}



@media (max-width: 481px) {
    .directions-h {

        position: relative;
        font-size: 30px;
        font-family: "Prata";
        font-weight: normal;
        display: block;

        writing-mode: horizontal-tb;
        transform: none;

        text-align: left;
    }


    .directions-h:before {
        content: '';
        display: block;
        position: absolute;
        background: #eec643;
        width: 2200%;
        height: 2px;
        top: -5px;
        right: -2075%;
    }

    .directions-h:after {
        content: '';
        display: block;
        position: absolute;
        background: #eec643;
        width: 2200%;
        height: 2px;
        bottom: -5px;
        left: -30%;
    }

    .container {
        flex-direction: column;
    }
}




[class^="col-"] { 
    padding-left: 15px;
    margin: 5px 0; 
}
.col-2 {
    width: 48%;
}
@media (max-width: 481px) {
    .col-2 {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

}


.guitar {
    width: 40%;
    height: 270px;
    background-image: url(../images/directions_card_img_1.png);
    background-size: cover;
    margin: 2.5%;
}



.piano {
    width: 40%;
    height: 270px;
    background-image: url(../images/directions_card_img_3.png);
    background-size: cover;
    margin: 0 2.5%;
}

.vocal {
    width: 50.3%;
    height: 270px;
    background-image: url(../images/directions_card_img_2.png);
    background-size: 150%;
    margin: 2.5% 0;
}

.lecture {
    width: 23.9%;
    height: 268px;
    background-image: url(../images/directions_card_img_4.png);
    background-size: 257px 268px;
    margin-right: 2.5%;
}

.areas {
    width: 23.9%;
    height: 268px;
    background-color: #eec643;
}
   

   @media (max-width: 481px) {
    .guitar {
        width: 100%;
        order: 2;
        margin: 2.5% 0;
        height: 145px;
    }

    .piano {
        width: 70%;
        order: 3;
        margin: 2.5% 0;
        height: 145px;

    }

    .vocal {
        width: 100%;
        order: 1;
        height: 145px;
    }

    .areas {
        width: 25%;
        order: 4;
        margin-top: 2.5%;
        margin-left: 5%;
        height: 145px;

    }

    .lecture {display: none;}
} 



.about {
    margin-top: 88px;
    margin-bottom: 88px;
}


.about-h {
    margin: 2.5%;
    text-align: center;

    position: relative;
    display: block;
}

.about-h:before {
content: '';

border-top: 2px solid #eec643;
display: block;
position: absolute;
height: 100%;
width: 100%;
top: -5px;
}

.about-h:after {
content: '';

border-bottom: 2px solid #eec643;
display: block;
position: absolute;
height: 100%;
width: 100%;
top: 0;
}






.group {
    width: 45%;
    height: 465px;
    background-image: url(../images/advantages_card_img_1.png);
    background-size: cover;
    margin: 2.5%;
}

.result {
    width: 45%;
    height: 465px;
    background-image: url(../images/advantages_card_img_2.png);
    background-size: cover;
    margin: 2.5%;
}

.studio {
    width: 45%;
    height: 545px;
    background-image: url(../images/advantages_card_img_3.png);
    background-size: cover;
    margin: 5px 2.5% 2.5% 0;
}


@media (max-width: 481px) {


    .about {
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    .group {
        width: 100%;
        margin: 2.5% 0;
        height: 145px;
    }

    .result {
        width: 100%;
        margin: 2.5% 0;
        height: 145px;

    }

    .studio {
        width: 70%;
        height: 145px;
    }

    .form-about {
        width: 25%;
        margin-right: 0;
        margin-top: 1.5%;
        margin-left: 5%;
        height: 142px;
        background-color: #eec643;

    }
    .about-p-1 {
        position: relative;

        height: 50%;
        margin: 0 auto;
        margin-top: 50px;
        color: #fff;


    transform: rotate(180deg);
    writing-mode: vertical-rl;
    }
    .about-p-2 {display: none;}

}






.video-h {
    margin: 5px 5% 5px 45px;
    text-align: center;

    position: relative;
    transform: rotate(180deg);
    display: block;
    width: 3.5%;
    writing-mode: vertical-lr;
}

.video-h:before {
content: '';
display: block;
position: absolute;
background: #eec643;
width: 2px;
height: 100%;
top: 0;
right: 120%;
}

.video-h:after {
content: '';
display: block;
position: absolute;
background: #eec643;
width: 2px;
height: 100%;
bottom: 0;
left: 65px;
}




.box-video {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  width: 1000px;
  height: 650px;
  font-size: 0;
}
.item {
    position: relative;
    box-sizing: border-box;
    width: 30%;
    height: auto;
    padding: 6px;
    margin: 0px 0px 19px 20px;
}
.item-third{margin-bottom: 0;}
.item:last-child{
  width: 70%;
}
.item:last-child img{
  height: calc(640px - 6px*2/* - 2*1px*/);
}
.item img {
  width: 100%;
  height: calc(200px - 6px*2 /*- 2*1px*/);
  object-fit: cover;
}

.item button{
    position: absolute;
    display: block;
    box-sizing: content-box;

    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    padding: 0;
    background: transparent;
    border: solid transparent;
    border-left-color: yellow;
    border-width: 20px 20px 20px 39px;
}

.video-wrap {display: none;}

@media (max-width: 481px) {

.video-wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        max-width: 400px;
        height: 100%;
        position: relative;}

    .video-wrap__item {width: 100%;
    position: relative;
    box-sizing: border-box;
}

 .video-wrap__img {
  max-width: 100%;
    width: 70%;
    height: 185px;
    margin-left: 15%;
}


    .box-video{display: none;}

    .video-h {
        width: 230px;
        position: relative;
        font-size: 30px;
        font-family: "Prata";
        font-weight: normal;
        display: block;

        writing-mode: horizontal-tb;
        transform: none;

        text-align: left;;
}

.video-h:before {
        content: '';
        display: block;
        position: absolute;
        background: #eec643;
        width: 230px;
        height: 2px;
        bottom: -5px;
        left: -15px;
}

.video-h:after {
        content: '';
        display: block;
        position: absolute;
        background: #eec643;
        width: 230px;
        height: 2px;
        bottom: -5px;
        left: -15px;
}


.container-video {
    max-height: 270px
}

.item button{
    border-width: 20px 20px 20px 35px;
}



.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font: 0/0 a;
    width: 0;
    border: 0;
    height: 0;
    background-color: snow;
    color: transparent;
}
.slick-prev {
    left: 40px;
}
.slick-prev:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid transparent;
    border-right-color: #eec643;
    border-bottom-color: #eec643;
    transform: rotate(135deg);
}
.slick-next {
    right: 30px;
}
.slick-next:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid transparent;
    border-right-color: #eec643;
    border-top-color: #eec643;
    transform: rotate(45deg);
}


}






.text {
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}

    .p-form{margin-top: 40px;}

.map {
    width: 100%;
    height: 470px;
}

@media (max-width: 481px) {
    .map {
    width: 285px;
    height: 215px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-sizing: border-box;
    }

    footer{display: none;}

    .communications {margin-bottom: 25px;}

}


.footer-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.social {
    display: flex;

    justify-content: space-around;
}