@font-face {
font-family: 'PT Sans';
src: local('PT Sans'), local('PTSans-Regular'),
url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff2') format('woff2'),
url('../fonts/pt-sans-v9-cyrillic_latin-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Prata';
src: local('Prata Regular'), local('Prata-Regular'),
url('../fonts/prata-v8-cyrillic_latin-regular.woff2') format('woff2'),
url('../fonts/prata-v8-cyrillic_latin-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}
/*
@font-face {
font-family: 'PT Sans';
src: local('PT Sans Bold'), local('PTSans-Bold'),
url('../fonts/PTSans-Bold.woff2') format('woff2'),
url('../fonts/PTSans-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}*/

body {
    display: flex;
    justify-content: center;
}





h1 {
    font-size: 32px;
    font-family: 'Prata', serif;
}
h2 {
    font-size: 50px;
    font-family: 'Prata', serif;
    color: #000;
}
a {
    text-decoration: none;
    font-family: 'Prata', serif;
}

p {
    margin: 0;
    font-family: 'Pt-sans', sans-serif;
}





.promo { display: none; }
 /* по умолчанию */
@media /*screen and*/ (max-width: 481px) { 

    h1 {
    font-size: 32px;
    font-family: 'Prata', serif;
}
h2 {
    font-size: 50px;
    font-family: 'Prata', serif;
    color: #000;
}

a {
    text-decoration: none;
    font-family: 'Prata', serif;
}

p {
    font-family: 'Pt-sans', sans-serif;
}

    .diez {

    

    width: 480px;
    height: 535px;
    background-image: url(../images/bg_main.jpg);
    background-size: 480px 535px;

    padding: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}
    
    .wrapper{
    margin: 0 auto;
    position: relative;
}
     
    .container {
    display: flex;/*
    flex-direction: column;*/
    margin: auto;
    padding: 0 15px; 
}

    .form {
        display: none;
    }

    

    .main-box {
        width: 100%;
    }
    


}




.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


nav {
    display: flex;
    align-items: flex-end;

    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
nav a {
    color: #202020;
    margin-right: 15px;
}

.diez {

    margin-top: -59.4px;
    padding-top: 88px;
    margin-bottom: 88px;

    width: 100%;
    height: 770px;
    background-image: url(../images/bg_main.jpg);
    background-size: cover;

    padding: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    color: #fff;
}

header {

}

header footer {
    text-align: justify;
    letter-spacing: 1px;
}

.container-header {
    justify-content: space-between;
    
    padding-top: 25px;
    padding-left: 20px;
}

ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul {
    margin: 0;
}



.name {
    font-size: 30px;
    color: #eec643;
    display: flex;
}

.box {
    display: flex;
}



.container {
    display: flex;
    max-width: 1170px;
    min-width: 320px;
    margin: auto;
}




.form {
    color: #000;
    border: 2px solid #000;
    background-color: rgb(255, 255, 255, 0.8);

    width: 265px;
    height: 420px;

}

.row {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    color: #fff; 
}

@media (max-width: 481px) {
    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


.directions-h {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 5px;
    text-align: center;
}

@media (max-width: 481px) {
    .directions-h {

        writing-mode: horizontal-tb;
        transform: none;

        text-align: left;
    }

    .container {
        flex-direction: column;
    }
}





[class^="col-"] { 
    padding-left: 15px; 
    padding-right: 15px;
    margin: 5px 0; 
}

.col-1{
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}


.guitar {
    width: 40%;
    height: 270px;
    background-image: url(../images/directions_card_img_1.jpg);
    background-size: cover;
    margin: 2.5%;
}



.piano {
    width: 40%;
    height: 270px;
    background-image: url(../images/directions_card_img_3.jpg);
    background-size: cover;
    margin: 0 2.5%;
}

.vocal {
    width: 50%;
    height: 270px;
    background-image: url(../images/directions_card_img_2.jpg);
    background-size: cover;
    margin: 2.5% 0;
}

.lecture {
    width: 23.9%;
    height: 268px;
    background-image: url(../images/directions_card_img_4.jpg);
    background-size: 257px 268px;
    margin-right: 2.5%;
}

.areas {
    width: 23.9%;
    height: 268px;
    background-color: yellow;
}
   

   @media (max-width: 481px) {
    .guitar {
        width: 100%;
        order: 2;
    }

    .piano {
        width: 75%;
        order: 3;
    }

    .vocal {
        width: 100%;
        order: 1;
    }

    .areas {
        width: 25%;
        order: 4;
    }

    .lecture {display: none;}
} 