

body {
    display: flex;
    justify-content: center;
}



h1 {
    font-size: 48px;
    font-family: 'Prata', serif;
}
h2 {
    font-size: 50px;
    font-family: 'Prata', serif;
    color: #000;
}
h3 {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-family: 'Prata', serif;
}
a {
    text-decoration: none;
    font-family: 'Prata', serif;
}

p {
    line-height: 30px;
    font-family: 'Pt-sans', sans-serif;
}





.promo { display: none; }
 /* по умолчанию */
@media screen and (min-width: 320px) { 


    .diez {
    width: 1280px;
    height: 770px;
    background-image: url(../images/bg_main.jpg);
    background-size: 1280px 770px;

    padding: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    color: #fff;
}

header footer {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 150px;
}

.name {
    display: flex;
}

.box {
    display: flex;
}



.container {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: 0 15px; 
}



.form {
    color: #000;
    border: 2px solid #000;
    background-color: rgb(255, 255, 255, 0.8);

    width: 265px;
    height: 420px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    color: #fff; 
}
.directions h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 5px;
    text-align: center;
}






[class^="col-"] { 
    padding-left: 15px; 
    padding-right: 15px;
    margin: 5px 0; 
}

.col-1{
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}


.guitar {
    width: 470px;
    height: 270px;
    background-image: url(../images/directions_card_img_1.jpg);
    background-size: 470px 270px;
    margin: 28px;
}

.piano {
    width: 470px;
    height: 270px;
    background-image: url(../images/directions_card_img_3.jpg);
    background-size: 470px 270px;
    margin: 28px;
}

.vocal {
    width: 570px;
    height: 270px;
    background-image: url(../images/directions_card_img_2.jpg);
    background-size: 570px 270px;
    margin: 28px;
}

.lecture {
    width: 257px;
    height: 268px;
    background-image: url(../images/directions_card_img_4.jpg);
    background-size: 257px 268px;
    margin: 28px;
}

.areas {
    width: 257px;
    height: 268px;
    background-color: yellow;
    margin: 28px;
}
    
     
}




.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


nav {
    margin: 30px 50px;
    display: inline-block;
}
nav a {
    color: #202020;
    margin-right: 15px;
}

